*.aux
*.bbl
*.log
*.out
*.toc
*.blg
*.lof
*.gz 
*.bcf
*.lot
*.xml
*.svg
*leftovers*
*.dtvw-dat
*.txt
*.s2rx
*.smrx
*.dtvw-cfg

invariants/data/*/*/images/*/*tex
invariants/data/*/*/images/*tex

invariants/data/*/*/images/*/_boxplot.pdf
invariants/data/*/*/images/*/_boxplot_h.pdf
invariants/data/*/*/images/*/_boxplot_ibi.pdf
invariants/data/*/*/images/*/_delays.pdf
invariants/data/*/*/images/*/_durations.pdf
invariants/data/*/*/images/*/_intervals.pdf
invariants/data/*/*/images/*/_output_pairplot.png
invariants/data/*/*/images/*/_signal_intervals.pdf
invariants/data/*/*/images/*/_signal_intervals_cycle.pdf
invariants/data/*/*/images/*/_signal_intervals_cycle_stretch.pdf
invariants/data/*/*/images/*/_signal_intervals_zoom.pdf
invariants/data/*/*/images/*/_time_cycle.pdf


invariants/data/*/*/images/_boxplot.pdf

invariants/data/*/*/images/_boxplot_h.pdf

invariants/data/*/*/images/_boxplot_ibi.pdf

invariants/data/*/*/images/_delays.pdf

invariants/data/*/*/images/_durations.pdf

invariants/data/*/*/images/_intervals.pdf

invariants/data/*/*/images/_output_pairplot.png
invariants/data/SUSSEX/*/images/output_pairplot.pdf
invariants/data/SUSSEX/*/images/*/output_pairplot.pdf
invariants/data/SUSSEX/*/images/*/output_pairplot_reset.pdf
invariants/data/SUSSEX/*/images/output_pairplot_reset.pdf


invariants/data/*/*/images/_signal_intervals.pdf

invariants/data/*/*/images/_signal_intervals_cycle.pdf

invariants/data/*/*/images/_signal_intervals_cycle_stretch.pdf

invariants/data/*/*/images/_signal_intervals_zoom.pdf

invariants/data/*/*/images/_time_cycle.pdf

invariants/data/*/*/images/_output_pairplot_IBI.png
invariants/data/*/*/images/*/_output_pairplot_IBI.png

invariants/data/*/*/images/_output_pairplot_reset_IBI.png
invariants/data/*/*/images/*/_output_pairplot_reset_IBI.png
