*.aux
*.bbl
*.log
*.out
*.toc
*.blg
*.lof
*.gz 
*.bcf
*.lot
*.xml
*.svg
*leftovers*
*.dtvw-dat
*.txt
*.s2rx
*.smrx
*.dtvw-cfg
*.dtvw-*

img/invariants/data/*/*/images/*/*tex
img/invariants/data/*/*/images/*tex

img/invariants/data/SUSSEX/*/images/*/_boxplot.pdf
img/invariants/data/SUSSEX/*/images/*/_boxplot_h.pdf
img/invariants/data/SUSSEX/*/images/*/_boxplot_ibi.pdf
img/invariants/data/SUSSEX/*/images/*/_delays.pdf
img/invariants/data/SUSSEX/*/images/*/_durations.pdf
img/invariants/data/SUSSEX/*/images/*/_intervals.pdf
img/invariants/data/SUSSEX/*/images/*/_output_pairplot.png
img/invariants/data/SUSSEX/*/images/*/_signal_intervals.pdf
img/invariants/data/SUSSEX/*/images/*/_signal_intervals_cycle.pdf
img/invariants/data/SUSSEX/*/images/*/_signal_intervals_cycle_stretch.pdf
img/invariants/data/SUSSEX/*/images/*/_signal_intervals_zoom.pdf
img/invariants/data/SUSSEX/*/images/*/_time_cycle.pdf


img/invariants/data/SUSSEX/*/images/_boxplot.pdf

img/invariants/data/SUSSEX/*/images/_boxplot_h.pdf

img/invariants/data/SUSSEX/*/images/_boxplot_ibi.pdf

img/invariants/data/SUSSEX/*/images/_delays.pdf

img/invariants/data/SUSSEX/*/images/_durations.pdf

img/invariants/data/SUSSEX/*/images/_intervals.pdf

img/invariants/data/SUSSEX/*/images/_output_pairplot.png
img/invariants/data/SUSSEX/*/images/output_pairplot.pdf
img/invariants/data/SUSSEX/*/images/*/output_pairplot.pdf
img/invariants/data/SUSSEX/*/images/*/output_pairplot_reset.pdf
img/invariants/data/SUSSEX/*/images/output_pairplot_reset.pdf


img/invariants/data/*/*/images/_signal_intervals.pdf

img/invariants/data/*/*/images/_signal_intervals_cycle.pdf

img/invariants/data/*/*/images/_signal_intervals_cycle_stretch.pdf

img/invariants/data/*/*/images/_signal_intervals_zoom.pdf

img/invariants/data/*/*/images/_time_cycle.pdf

img/invariants/data/*/*/images/_output_pairplot_IBI.png
img/invariants/data/*/*/images/*/_output_pairplot_IBI.png

img/invariants/data/*/*/images/_output_pairplot_reset_IBI.png
img/invariants/data/*/*/images/*/_output_pairplot_reset_IBI.png
